html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    
    font-family: "Cormorant", serif;
    font-weight: 400;
    font-style: normal;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header__menu{
    margin-top: 35px;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list__buy{
    display: flex;
    gap: 20px;
}

.menu__color{
    display: flex;
    gap: 65px;
}

.herobg{
    background-image: url(../images/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom top;
}

.header__titel{
    padding-top: 220px;
    color: #fff;
    font-size: 60px;
    margin: 0;
    
    
}

.header__descr{
    color: #fff;
    padding-bottom: 83px;
    font-size: 24px;
    margin: 0;
}

.quote{
    text-align: center;
    margin-top: 113px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 150px;
}

.Tea__titel{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.Tea__content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tea__descr{
    font-size: 24px;
    font-weight: 400;
    font-family: "Cormorant", serif;
}

.Clients{
    background-color: #F7F2EA;
    margin-top: 150px;
    margin-bottom: 150px;
}

.Clients__titel{
   padding-top: 60px;
   text-align: center;
   font-size: 40px;
   font-weight: 400;
   margin-bottom: 60px;
}

.Clients__descr{
    max-width: 280px;
    font-size: 16px;
    font-weight: 300;
    color: #151618;
}

.Clients__feedback__titel{
    font-size: 26px;
    font-weight: 600;

}

.Clients__feedback__titel__margin{
    margin-bottom: 60px;
}

.Clients__feedback{
    display: flex;
    gap: 26px;
}

.Tea__Blog__titel{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
}

.card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__descr{
    font-size: 24px;
    font-weight: 400;
    max-width: 252px;
    margin: 0;
}

.card__descr__bottom{
    margin: 0;
}

.card__descr span{
    font-size: 13px;
    font-weight: 300;
}

.card__descr__bottom{
    display: flex;
    gap: 8px;
}

.Tea__Blog__btn{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.Tea__Blog__btn button{
    padding: 12px 41px;
    background-color: #fff  ;
    margin-top: 20px;
}

.form__email{
    border: none;
    border-bottom: 1px solid #B8B58B;
    background-color: #F7F2EA;
    width: 439px;
}

.form__email::placeholder{
    font-size: 20px;
    font-weight: 300;
    color: #B8B58B;
}

.Contacts{
    background-color: #F7F2EA;
}

.Contacts__titel{
    font-size: 40px;
    font-weight: 500;
    padding-top: 100px;
    color: #151618;
}

.contacts__full{
    display: flex;
    align-items: start;
    gap: 40px;
}

.contacts__descr{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    line-height: 1.5;
    margin-top: 38px;
}

.form__btn{
    padding: 12px 41px;
    background-color: #fff;
    
}

.form{
    display: flex;
    gap: 25px;
}

.checkbox{
    display: flex;
    align-items: start;
    gap: 10px;
}

.checkbox__btn{
    margin-top: 20px;
}

.checkbox__descr{
    font-size: 20px;
    font-weight: 400;
    color: #151618;
    margin: 0;
    padding-bottom: 103px;
    margin-top: 12px;
}

.Prioritise__titel{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 199px;
    margin-bottom: 60px;

}

.Prioritise__full{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.Prioritise__descr{
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.Prioritise__descr__bottom{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
}

.footer{
    background-color: #F7F2EA;
    margin-top: 150px;
}

.footer__full{
    display: flex;
    justify-content: space-between;
    
}

.part__column{
    display: flex;
    flex-direction: column;
}

.footer__quote{
    max-width: 269px;
}

.part__titel{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.footer__link{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

.quote__titel{
    max-width: 269px;
    font-size: 20px;
    font-weight: 300;
    color: #151618;
}

.quote__descr{
    font-size: 16px;
    font-weight: 300;
    color: #151618;
}

.part__descr{
    max-width: 270px;
    font-size: 13px;
    margin: 0;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    gap: 40px;
    align-items: center;
}

.contacts__footer{
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 50px;

}

.footer__img{
    margin-right: 10px;
}

.part__column__end{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top:  50px;
}

.quote__full{
    margin-top: 10%;
}

.footer__footer__link{
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.logo__img{
    margin-bottom: 50px;
}

.copyright__full{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 105px;
   
}

.copyright__inner{
    display: flex;
    gap: 192px;
    padding-bottom: 10px;
}
